.sprint-goals li {
    font-weight:normal;
    font-size: 16px;
    padding-left: 0px;
}

.sprint-goals > ul {
  padding-left: 10px;
  list-style-type: none;
}

.sprint-goals > ul > li {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  padding-left: 0px;
}

.sprint-goals > ul > li > ul {
  padding-left: 20px;
}

.no-bullet-points {
  list-style-type: none;
  margin-left: -40px;
}

.card {
  border: 2px outset;
  margin: 5px;
  padding: 10px;
  width: 47%;
  height: 120px;
  float: left;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.card a{
  font-size: 16px;
}

.title-label {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0px;
}

h2 {
  margin-bottom: 20px;
}
