.no-bullet-points {
  list-style-type: none;
  margin-left: -40px;
}

#loader {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

.card {
  overflow-y: scroll;
  border: 2px outset;
  margin: 5px;
  padding: 10px;
  width: 330px;
  height: 100px;
  float: left;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

#title-label {
  position: absolute;
  right: 20px;
  top: 10px;
  margin: 0px;
  font-size: 20px;
}

h2 {
  margin-bottom: 20px;
}

.sprint-goals li {
  font-size: 18px;
  font-weight:normal;
  padding-left: 0px;
}

.sprint-goals > ul {
  padding-left: 10px;
  list-style-type: none;
}

.sprint-goals > ul > li {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  padding-left: 0px;
}

.sprint-goals > ul > li > ul {
  padding-left: 20px;
}

#videoElement {
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 250px;
}

.card_jira_id {
  float: left;
  width: 50%;
}

.card_jira_id a{
  font-size: 16px;
}

.card_jira_status {
  float:right;
  font-weight: bold;
  text-align: right;
  width: 50%;
}

.card_jira_description {
  float:left;
  width: 100%;
}

.flagged {
  color: red;
}

#loader img {
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

#loader .message {
  position: absolute;
  bottom: 50px;
  margin: auto;
  left: 0;
  right: 0;
  width: 500px;
  font-size: 36px;
  text-align: center;
}
