base_url = "https://devopsguys.atlassian.net"
atlassian_username = "USER"
atlassian_password = "PASSWORD"
story_points_custom_field = "customfield_10004"
auth_username = "admin"
auth_password_sha256 = "3b3b53c2a6bdd088d8b0fa6b73274972db439f6ae25393f680a77d6112cded94"
